<div class="row">
	<h3 class="text-center"><%= @client.name %></h3>
	<div class="col-sm-offset-2 col-sm-8 ">
		<div class="panel panel-default">
			<div class="panel-body">
				<div>Direccion: <%= @client.address %></div>
				<div>Telfono: <%= @client.phone %></div>
				<div>E-mail: <%= @client.email %></div>
				<div>Ruta: <%= link_to @client.route.ruta, route_path(@client.route) %></div>
				
				<hr>
				<div class="text-right">Comprobantes</div>
				<ul class="list-group">
					<% @client.receipts.each do |receipt| %>
					<li class="list-group-item">
					<%= link_to "Comprobante "+receipt.id.to_s, receipt_path(receipt) %> ,<%= receipt.created_at.strftime("%B %d, %Y") %>,por valor de : $<%= receipt.amount %> </li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>