<div class="row">

	<div class="col-sm-8"><h1 class="text-primary">Rutas</h1></div>
	<div class="col-sm-4"><%= link_to "Nueva Ruta", new_route_path, class: "btn btn-primary" %></div>
</div>

<div class="row">
	<div class="col-sm-9">
		<table class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th>Codigo</th>
					<th>Ruta</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<% @routes.each do |route| %>
				<tr>
					<td><%= route.id %></td>
					<td><%= route.ruta %></td>

					<td><%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_route_path(route)%></td>
			
					<td><%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, route, method: :delete, data: { confirm: "Are yoy sure?" }%></td>
				</tr>
						
				<% end %>
			</tbody>
		</table>
		
		
	</div>
</div>