<div class="row">
	<h2>Ruta: <%= @route.ruta%></h2>
	<div class="col-sm-offset-3 col-sm-6">
		<div class="list-group">
		<% @route.clients.each do |client|%>
			<%= link_to client_path(client), class: "list-group-item"  do %>
				<span><%= client.id %>, <strong><%= client.name %></strong>  Dir: <%= client.address%> </span>
			<% end %>
		<% end %>
		</div>
	</div>
</div>