<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h2><%= form_title_receipt %></h2>

		<% if @receipt.errors.any? %>
		<div class="alert alert-danger">
			<ul>
				<% @receipt.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
		<% end %>

		<%= form_for @receipt do |f| %>
			<div class="form-group">
				<%= f.label :client_id %>
				<%= f.number_field :client_id, class: "form-control input-lg" , placeholder: "Ingresa el codigo del cliente" %>
			</div>

			<div class="form-group">
				<%= f.label "Valor" %>
				<%= f.number_field :amount, class: "form-control input-lg" , placeholder: "$" %>
			</div>


			<div class="form-group">
				<%= f.label "Muestras" %>
				<%= select_tag :sample, options_for_select(Sample.samples.map {|k, v| [k, k] }), {} %>

				<%= f.label "Cantidad" %>
				<%= number_field_tag  "Cantidad" %>
			</div>
		
			<div class="form-group">
				<%= f.label :temperature %>
				<%= f.number_field :temperature, class: "form-control input-lg" , placeholder: "Ingresa la temperatura" %>
			</div>      



			<div class="form-group">
				<%= f.submit form_title_receipt, class: "btn btn-success btn-lg" %>
			</div>

		<% end %>
	</div>
